<%- include ("../../partials/header.ejs") %>
<style>
    form, h3 {
        font-size: 3rem;
        margin-left: 2rem;
    }
    input {
        font-size: 2rem;
    }
</style>
<body>
    <h3>Editar categoria:</h3>
    <form action="/categories/update" method="POST">
        <input type="text" name="id" value="<%= id %>" hidden>
        <label for="title">
            Título:
            <% data.forEach(data => { %>
                <input type="text" name="title" id="title" value="<%= data.title %>" required>
            <% }) %>
        </label><br>
        <button type="submit">Editar</button>
    </form>
</body>
</html>