<nav>
    <div>
        <div class="logo">
            <img src="/img/star-solid.svg" alt="Star">
            <h2>selfcare</h2>
        </div>

        <ul class="nav-list">
            <li><a href="/">Home</a></li>
            <li><a href="/admin/categories">Categorias</a></li>
            <li><a href="/admin/products">Produtos</a></li>
        </ul>
    </div>
</nav>